.breadcrumbs {
  padding: 110px 0 20px;
  display: flex;
  list-style-type: none;

  @media #{$handheld} {
    padding: 80px 0 15px;
  }

  li + li {
    margin-left: 15px;
    display: block;
    position: relative;

    @media #{$mobile} {
      margin-left: 0;
    }

    &::before {
      content: '/';
      font-size: 12px;
      position: absolute;
      left: -10px;

      @media #{$mobile} {
        content: none;
      }
    }
  }

  li:nth-last-child(2) a {
    @media #{$mobile} {
      position: relative;
      padding-left: 10px;

      &::after {
        content: 'Назад';
        font-size: 12px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        width: 8px; height: 8px;
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;
        transform: rotate(45deg);
      }
    }
  }

  a {
    @include Underline($black, 1px);
  }

  a, span {
    font-weight: 400;
    font-size: 14px;
    color: $black;

    @media #{$handheld} {
      font-size: 12px;
    }

    @media #{$mobile} {
      font-size: 0;
    }
  }

  span.breadcrumb_last {
    color: rgba($black, 0.5);

    @media #{$mobile} {
      display: none;
    }
  }
}