.progress {
  position: absolute;
  left: 0;
  top: 0;
  cursor: default;
  width: 60px;
  height: 100%;

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: $pink;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    z-index: 0;
  }

  .progress-point {
    width: 60px; height: 60px;
    color: $pink;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    border: 1px solid $pink;
    transition: all 100ms ease;
    background-color: $white;
    z-index: 2;

    &.active {
      background-color: $pink;
      color: $white;
    }

    &:nth-child(1){
      top: 0;
    }

    &:nth-child(2){
      top: 320px;
    }

    &:nth-child(3){
      top: 835px;
    }

    &:nth-child(4){
      bottom: 0;
    }

  }
}