.privacy {
  padding: 0 0 140px;

  @media #{$handheld} {
    padding: 0 0 95px;
  }

  .privacy__title {
    margin: 0 0 10px;
  }

  .text-container {
    max-width: 1111px;

    h4 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
    }

    p {
      padding-left: 20px;
      font-weight: 400;
      font-size: 14px;

      @media #{$small-mobile} {
        padding-left: 0;
        font-size: 12px;
      }
    }
  }
}