/* -------------------------- */
/* Slick */

.slick-arrow {
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $pink;
  position: relative;
  cursor: pointer;
  font-size: 0;
  z-index: 1;
  outline: none;
  border: 0;

  &::after {
    content: '';
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &.slick-prev {
    &::after {
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }

  &.slick-next {
    &::after {
      border-right: 1px solid $white;
      border-top: 1px solid $white;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
}

.slick-dots {
  display: flex;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;

  li {
    display: block;
    list-style-type: none;

    & + li {
      margin-left: 8px;
    }

    button {
      display: block;
      font-size: 0;
      transition: all 100ms cubic-bezier(.25,.25,0,1);
      width: 24px;
      height: 2px;
      background-color: rgba($black, 0.25);
      outline: none;
      border: 0;
      box-sizing: border-box;
    }

    &.slick-active button {
      background-color: $pink;
    }
  }
}

/* -------------------------- */
/* Selectric */

.selectric {
  border: 1px solid $pink !important;
  box-shadow: 6px 8px 4px rgba(237, 201, 189, 0.25);

  .label {
    font-weight: 400;
    font-size: 14px !important;
    color: $black !important;
  }

  .button::after {
    top: 5px !important;
    border: 6px solid transparent !important;
    border-top: 8px solid $black !important;
  }
}

/* -------------------------- */
/* Tippy */

.tippy-arrow {
  left: -15px !important;
}

.tippy-content {
  min-width: 170px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  padding: 11px 8px;

  a {
    color: $pink;
    text-decoration: underline;
  }
} 