.h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  color: $black;
  // margin-bottom: 70px;

  @media #{$handheld} {
    font-size: 38px;
  }

  @media #{$mobile} {
    font-size: 28px;
  }

  @media #{$small-mobile} {
    font-size: 18px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 43px;
  color: $black;
}

p {
  font-size: 12px;
  font-weight: 100;
  color: $black;

  span {
    color: $white;
    font-weight: bold;
  }
}

a {
  font-weight: bold;
  color: $white;
  text-decoration: none;
}

.content {
  p {
    font-weight: 400;
    font-size: 18px;
    color: $black;
    margin-bottom: 0.3rem;
  }

  a,
  p > a {
    color: $pink;
    text-decoration: underline;
    font-weight: 400;
  }

  ol {
    padding-left: 50px;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 18px;
    
    li::marker {
      color: $pink;
    }
  }
}