.h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  color: $black;
  // margin-bottom: 70px;

  @media #{$handheld} {
    font-size: 38px;
  }
}

.h2 {
  font-weight: 800;
  font-size: 43px;
  color: $black;
}

p {
  font-size: 12px;
  font-weight: 100;
  color: $black;

  span {
    color: $white;
    font-weight: bold;
  }
}

a {
  font-weight: bold;
  color: $white;
  text-decoration: none;
}